body {
  background-image: url("../assets/background.jpg");
  padding-top: 50px;
}

.header {
  position: fixed;
  top: 0px;
  left: 550px;
  text-align: -webkit-right;
}
.heading {
  font-size: 150px;
  color: #5DADE2;
  margin-right: 20px;
}

.tag-line {
  font-size: 40px;
  color: #3385D6;
  margin-right: 20px;
}

.credit {
  position: relative;
  left: 800;
  top: 1200;
  font-size: 8px;
}

/* Navigation */
nav li {
  display: inline-block;
  background-color: #FFFFFF;
}

/* Layout */
