body {
  background-image: url("../assets/background.jpg");
  padding-top: 50px;
}

.header {
  position: fixed;
  top: 0px;
  left: 550px;
  text-align: -webkit-right;
}
.heading {
  font-size: 150px;
  color: #5DADE2;
  margin-right: 20px;
}

.tag-line {
  font-size: 40px;
  color: #3385D6;
  margin-right: 20px;
}

.credit {
  position: relative;
  left: 800;
  top: 1200;
  font-size: 8px;
}

/* Navigation */
nav li {
  display: inline-block;
  background-color: #FFFFFF;
}

/* Layout */

/* Filter */
.filter {
/*  width: 100%;
  border: solid 1px black;*/
}

.filter-item {
  color: black;
  background-color: transparent;
  border-color: black;
}

.filter-item:hover {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.filter-count {
  margin-left: 5px;
  font-weight: bold;
  font-style: italic;
}

/* Listings */
.listings {
  width: 100%;
  border: solid 1px black;
}

.listing-entry:hover {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/*.listing-entry-start-date {
  width: 5%;
}
.listing-entry-end-date {
  width: 5%;
}
.listing-entry-price {
  width: 5%;
}
.listing-entry-location {
  width: 5%;  
}*/
.listing-entry-title {
  text-decoration: underline;
}

