body {
  background: url("../assets/pexels-photo-96858.jpeg") no-repeat bottom center fixed;
  background-size: cover;
  padding-top: 10%;
  color: white;
}

.header {
  position: fixed;
  top: 50px;
  left: 450px;
  text-align: -webkit-right;
}

.heading {
  font-size: 80px;
  color: white;
  margin-right: 0px;
}

.tag-line {
  font-size: 40px;
  color: #000080;
  margin-right: 20px;
}

.credit {
  position: relative;
  left: 800;
  top: 1200;
  font-size: 8px;
}

.navbar {
  font-size: 20px;
  color: white;
  left: 525px;
  top: 0px;
}

.nav-rent {
  color: white;
}

.nav-buy {
  color: white;
}

.nav-hack {
  color: white;
}

.filter {
  position: absolute;
  top: 20px;
}

.filter-item {
  color: black;
  background-color: transparent;
  border-color: black;
}

.filter-item:hover {
  color: #31708f;
  background-color: #d9edf7;
}

.filter-count {
  margin-left: 5px;
  font-weight: bold;
  font-style: italic;
}

.listings {
  position: absolute;
  width: 100%;
  top: 20px;
}

.listing-entry:hover {
  color: #31708f;
  background-color: #d9edf7;
}

.listing-entry-title {
  text-decoration: underline;
}

/* Images */
.listing-image {
  max-width: 100px;
  max-height: 60px;
  float: left;
  padding-right: 10px;
}

.listing-image img {
  max-width: 100%;
  max-height: 100%;
}

/* Contact */
.contact {
  float: left;
}

/* Modal */
.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  color: black;
}

.modal-title {
  color: black;
}

.top-btn {
  color: white;
  font-weight: bold;
  border: solid 2px white;
  border-radius: 4px;
}

.top-btn:hover {
  color: #31708f;
  background-color: #d9edf7;
}

.listing-info-email {
  color: black;
}

.listing-info-telphone {
  color: black;
}